@font-face {
    font-family: 'Pulsar - Original';
    src: url("../fonts/pulsar-original.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Aire Exterior';
    src: url("../fonts/AireExterior.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
}